body {
  background-color: rgb(210, 196, 201);
}

#display-option {
  display: block;
  inline-size: 300px;
  block-size: 500px;
  background-color: whitesmoke;
}

.plus-btn {
  background-color: whitesmoke;

  border: none;
  /* border-radius: 50%; */
  /* width: 25px;
  height: 25px;
  font-size: 32px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
}
